<!DOCTYPE html>
{% extends "basic_app/base.html" %}
{% block body_block %}
<h1>Welcome to Relative Page</h1>
{% endblock %}
<!--
<html>
    <head>
        <meta charset="utf-8">
        <title>
        Relative Page
        </title>
    </head>
    <body>
        <h1>Welcome to Relative URLs</h1>
        <p><a href="{% url 'basic_app:other' %}">Other Page</a></p>
        <p><a href="{% url 'admin:index' %}">Admin Page</a></p>
        <p><a href="{% url 'index' %}">HOME</a></p>
    </body>
</html>
-->
